body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #f0f0f0, #bdffec);
}

header {
    background: linear-gradient(45deg, #8620ae, #23b565);
    background-size: 200% 200%;
    color: #fff;
    padding: 1em;
    text-align: center;
    animation: colorChange 5s infinite;
}

@keyframes colorChange {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section {
    padding: 20px;
    background-color: #fff;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#products {
    background: linear-gradient(to bottom, #f0f0f0, #bdffec);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    flex: 0 0 250px;
    margin: 10px;
    padding: 15px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product img {
    max-width: 100%;
    max-height: 200px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.product p {
    margin-top: 10px;
}

button {
    background: linear-gradient(to bottom, #0a8fa9, #0a936c);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: linear-gradient(to bottom, #10b0d0, #0d9b73);
}

footer {
    background: linear-gradient(45deg, #8620ae, #23b565);
    background-size: 200% 200%;
    color: #fff;
    padding: 1em;
    text-align: center;
    animation: colorChange 5s infinite;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#h5g{
    color: #003558;
    margin-top: -20px;
}